
.banner {
  background-color: #FFF;
  padding: 5em;
  text-align: center;
}

.banner h3 {
  color: #51526A;
  font-size: 3em;
}

.banner a {
  display: inline-block;
  color: #51526A;
  background-color: #fff;
  border: 3px solid #51526A;
  border-radius: 2px;
  text-decoration: none;
  padding: 18px;
  transition: all 650ms;
  margin: 15px auto;
}

.banner a:hover,
.banner a:focus {
  background-color: #51526A;
  color: #fff;
}
