body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.sect {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.sect h3 {
  font-size: 3em;
  margin: 1em 0;
}

code {
  font-family: monospace;
  margin: 0 4px;
  background: rgba(238, 238, 238, 0.65);
}

p a {
  color: inherit;
  margin: 0 3px;
  text-decoration: underline;
}

.banner {
  background-color: #FFF;
  padding: 5em;
  text-align: center;
}

.banner h3 {
  color: #51526A;
  font-size: 3em;
}

.banner a {
  display: block;
  max-width: 500px;
  color: #51526A;
  background-color: #fff;
  border: 3px solid #51526A;
  border-radius: 2px;
  text-decoration: none;
  padding: 18px;
  transition: all 650ms;
  margin: 15px auto;
}

.banner a:hover,
.banner a:focus {
  background-color: #51526A;
  color: #fff;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.tiles p {
  margin: 10px 0 20px 0;
}

.site {
  background: #51526A;
  padding: 1em;
  color: #fff;
  border: 6px double;
}

.site p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site .fa {
  margin-right: 12px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #51526A;
  border-radius: 50%;
}

@media (max-width: 580px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 10px;
  }
}