.projects.sect {
  background: #C1D3DB;
  color: #51526A;
  min-height: 100vh;
  height: auto;
}

.projects h3 {
  color: #51526A;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.tiles p {
  margin: 10px 0 20px 0;
}

.tile {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.125em;
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #fff;
  margin: 10px;
}

.tile-header {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 1em;
}

.tile-header h4 {
  margin: 10px 0;
  font-size: 17px;
}

.tile-image {
  overflow: hidden;
  height: 190px;
}

.tile-image img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.tile-content {
  padding: .5em 1em;
  text-align: left;
}

.tile-footer {
  margin-top: auto;
  padding: .25em;
  display: flex;
  border-top: 1px solid #ccc;
}

.tile-footer a {
  padding: .75em;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: #51526A;
  font-size: 1em;
  transition: all 400ms;
}

.tile-footer a:focus,
.tile-footer a:hover {
  background: #51526A;
  color: #fff;
  transition: all 400ms;
}

@media (max-width: 400px) {
  .tile-footer a {
    font-size: 1.25em;
  }
}
